@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*elements*/

a, h1, h2, h3, p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #8C644D;
}

footer {
  margin: 0;
  background-color: #363731;
}

li {
  margin-left: 45%;
  text-align: center;
  width: 18%;
}

li a {
  display: block;
  padding: 5px;
  background-color: #363731;
  color: white;
}

nav {
    width:100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

nav a {
  display: block;
	flex: 1 1 100%;
}

nav ul {
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    width: 100%;
    background-color: #363731;
    /*align-self: center;*/
  }

/*classes*/

.footer_info{
  margin: 0px;
  margin-bottom: 0px;
  background-color: #363731;
  padding: 15px;
  color: white;
}

.hero {
    overflow: hidden;
    position: relative;
}
  
.hero_image {
    height: 75%;
    max-height: 1000px;
    width: 100%;
    z-index: 0;
    object-fit: cover;
      
}
  
.hero_text {
  color: white;
  margin: 20px;
  padding: 20px;
  position: absolute;
  top: 30%;
  left: 49%;
  transform: translate(-55%, -30%);
  border-radius: 25px;
  text-align: center;
  width: 70%;
  max-height: 310px;
}

.hero_tag {
  margin: 5px;
}

.row_1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  gap: 25px 25px;
  margin: 20px;
  margin-top: 40px;
  padding: 20px;
  background-color: #FFD7BF;
  border-radius: 25px;
  width: 80%;
  max-width: 800px;
}

.row_1_image {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}

.row_1_info {
  grid-column: 3 / span 4;
  grid-row: 1 / span 1;
}

.row_1_button_1 {
  width: 75px;
  height: 40px;
  align-items: center;
  background-color: #848C4D;
  border-color: #848C4D;
  color: white;
  border-radius: 15px;
  border-style: solid;
}

.row_1_button_2 {
  width: 75px;
  height: 40px;
  align-items: center;
  background-color: #848C4D;
  border-color: #848C4D;
  color: white;
  border-radius: 15px;
  border-style: solid;
}

.row_1_about {
  grid-column: 5 / span 1;
  grid-row: 2/ span 1;
}

.row_1_skills {
  grid-column: 4 / span 1;
  grid-row: 2/ span 1;
}

/*ids*/

#home_link{
  font-weight: 600;
}

#main_hero_image{
  background-color: #363731be;
}

#alt_hero_image{
  background-color: #323838be;
}