@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --lighter-primary-color: #FFD7BF;
  --primary-color: #8C644D;
  --monotone-primary-color: #373331;
  --darker-primary-color: #2b1f18;
  --lighter-secondary-color: #BCC86E;
  --secondary-color: #848C4D;
  --medium-secondary-color: #535831;
  --darker-secondary-color: #363731;
  --darkest-secondary-color: #1c1d1a;
  --transparent-secondary-color: #363731be;
  --tertiary-color: #71cccc;
  --medium-tertiary-color: #59A2A2;
  --darker-tertiary-color: #1a3131;
  --transparent-tertiary-color: #323838be;
  --primary-font-color:#ffffff;
  --secondary-font-color: #000000;
  --dark-grey:#666666;
  --light-grey: #bbbbbb;


}

/*elements*/

a, h1, h2, h3, p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

article {
  grid-column-start: 2;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

body {
  margin: 0;
  color: var(--secondary-font-color);
  background-color: var(--primary-color);
}

body.dark-mode {
  color: var(--primary-font-color);
  background-color: var(--darker-primary-color);
}

footer {
  margin: 0;
  color: var(--primary-font-color);
  background-color: var(--darker-secondary-color);
}

footer.dark-mode{
  background-color: var(--darkest-secondary-color);
}

footer > p{
  margin-bottom: 0px;
  padding: 15px;
  margin-top: 8px;
  width: 80%
}

main {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin-top: 30px;
}

nav {
  width:100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}

nav a {
  display: block;
	flex: 1 1 100%;
  text-decoration: none;
}

nav ul {
  text-align: center;
}

svg {
  padding-left: 10px;;
}

/*classes*/

.circle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  transition: width 0.5s, height 0.5s, border-radius 0.5s, box-shadow 2s;
  font-size: 2em;
  border-radius: 25px;
  border-style: solid;
  background-color: var(--primary-font-color);
  border-color: var(--dark-grey);
  border-width: 3px;
  box-shadow: 0px 0px 50px 0px var(--secondary-font-color);
}

.circle.dark-mode {
  background-color: var(--secondary-font-color);
  border-color: var(--light-grey);
  color: var(--primary-font-color);
  box-shadow: 0px 0px 50px 0px var(--dark-grey);
}

.dark_mode {
  color: var(--primary-font-color);
  background-color: var(--primary-color);
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 10px 10px 50px var(--secondary-font-color);
}

.footer_social {
  width: 80%;
}

.footer_social > ul {
  list-style-type: none;
  text-align: left;
}
  
.hero_image {
  height: 75%;
  max-height: 1000px;
  width: 100%;
  z-index: 0;
  object-fit: cover;  
}
  
.hero_text {
  display: block;
  padding: 20px;
  margin-top: -20px;
  color: var(--primary-font-color);
  background-color: var(--transparent-secondary-color);
  text-align: center;
}

.hero_text > p {
  margin: 10px;
}

.hero_text > h1 {
  margin: 5px;
}

.nav_bar {
  display:flex;
}

.nav_items {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  overflow: hidden;
  width: 100%;
  color: var(--primary-font-color);
  background-color: var(--darker-secondary-color);
}

.nav_items.dark-mode{
  background-color: var(--darkest-secondary-color);
}

.nav_link_container {
  text-align: center;
}
.nav_links{
  padding-top: 10px;
  padding-bottom: 10px;
}

.page_link {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  background-color: var(--darker-secondary-color);
  color: white;
}

.page_link.dark-mode {
  background-color: var(--darkest-secondary-color);
}

.page_link:hover {
  background-color: var(--tertiary-color);
  color: var(--darker-tertiary-color);
  font-weight:bold;
}

.page_link:hover.dark-mode {
  background-color: var(--medium-tertiary-color);
  color:var(--darker-tertiary-color);
}


.row {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  color: var(--secondary-font-color);
  background-color: var(--lighter-primary-color);
  border-radius: 25px;
  box-shadow: 10px 10px 50px var(--secondary-font-color);
}

.row.dark-mode{
  color: var(--primary-font-color);
  background-color: var(--primary-color);
}

.row > p {
  max-width: 600px;
}

.row_image_horizontal {
  display: flex;
  min-width: 150px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
}

.row_image_vertical {
  display: flex;
  min-width: 150px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
}

.row_button {
  display: inline-block;
  padding: 9px;
  background-color: var(--secondary-color);
  border-color: var(--darker-secondary-color);
  border-width: 2px;
  color: var(--primary-font-color);
  border-radius: 15px;
  border-style: solid;
  text-decoration: none;
  font-size: 0.8em;
}

.row_button.dark-mode {
  background-color: var(--darker-secondary-color);
  border-color: var(--secondary-color);
}

.row_button:hover {
  background-color: var(--medium-secondary-color);
  font-weight:bold;
}

.row_button.dark-mode:hover {
  background-color: var(--medium-secondary-color);
}

.row_header {
  font-size: 1.5em;
  color: var(--darker-primary-color);
  background-color:var(--lighter-primary-color);
}

.row_header.dark-mode{
  color: var(--primary-font-color);
  background-color: var(--primary-color);
}

.row > h3 {
  font-size: 1em;
  color: var(--darker-secondary-color);
  background-color:var(--lighter-primary-color);
}

.show {
  display:none;
}

.social_container {
  display: block;
  margin-left: 0%;
  width: 18%;
}

/*ids*/

#alt_hero_image{
  color: var(--primary-font-color);
  background-color: var(--transparent-tertiary-color);
}

#dropDown {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 2;
  height: 30px;
  width: 60px;
  background-color:var(--darker-secondary-color);
  color: var(--primary-font-color);
  border-style: none;
  border-radius: 5px;
  transition: background-color 1s;
}

#dropDown:focus {
  background-color: var(--lighter-secondary-color);
  color: var(--secondary-font-color);
  border-style: solid;
  border-width: 2px;
  border-color: var(--medium-secondary-color);
  transition: background-color 1s;
}

#hidden_link {
  text-decoration: none;
  color: var(--primary-font-color);
  background-color: var(--darker-secondary-color);
}

#home_link {
  position: relative;
  font-weight: 600;
  color: var(--primary-font-color);
  background-color: var(--secondary-color);
  flex-grow: 4;
  align-self: auto;
}

#home_link.dark-mode {
  background-color: var(--medium-secondary-color);
}

#home_link:hover {
  background-color: var(--lighter-secondary-color);
  color: var(--secondary-font-color);
  font-weight:bolder;
}

#home_link:hover.dark-mode {
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
}
