@media screen and (min-width: 40em) {

    li {
        float: left;
        margin-left: 0%;
      }

    nav {
        position: absolute;
    }
    
    .hero {
        overflow: hidden;
        position: relative;
    }

    .hero_image {
        height: 75%;
        max-height: 700px;
    }

    .hero_text {
        transform: translate(-53%, -20%);
        min-height: 270px;
    }
}