@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* variables */

/* colors */

$lighter-primary-color: #FFD7BF;
$primary-color: #8C644D;
$monotone-primary-color: #373331;
$darker-primary-color: #2b1f18;
$lighter-secondary-color: #BCC86E;
$secondary-color: #848C4D;
$medium-secondary-color: #535831;
$darker-secondary-color: #363731;
$darkest-secondary-color: #1c1d1a;
$transparent-secondary-color: #363731be;
$tertiary-color: #71cccc;
$medium-tertiary-color: #59A2A2;
$darker-tertiary-color: #1a3131;
$transparent-tertiary-color: #323838be;
$primary-font-color:#ffffff;
$secondary-font-color: #000000;
$dark-grey:#666666;
$light-grey: #bbbbbb;

/* fonts */

$font-hierarchy: Montserrat, Arial, Helvetica, sans-serif;

/* sizing */

$padding-main: 10px;
$padding-main-step: 15px;
$padding-double: 20px;
$padding-triple: 30px;
$size-full: 100%;
$size-most: 80%;
$size-least: 10%;
$size-none: 0%;

/* display */

$display-block: block;
$display-grid: grid;
$display-flex: flex;

/* tags */

a, h1, h2, h3, p {
    font-family: $font-hierarchy;
}

article {
    grid-column-start: 2;
    margin-left: auto;
    margin-right: auto;
    height: $size-full;
}

body {
    margin: $size-none;
    color: $secondary-font-color;
    background-color: $primary-color;

    &.dark-mode {
        color: $primary-font-color;
        background-color: $darker-primary-color;
    }
}

footer {
    margin: $size-none;
    color: $primary-font-color;
    background-color: $darker-secondary-color;

    &.dark-mode{
        background-color: $darkest-secondary-color !important;
    }

    > p{
        margin-bottom: $size-none;
        padding: $padding-main-step;
        margin-top: 8px;
        width: $size-most;
    }   
}

main {
    display: $display-grid;
    grid-template-columns: $size-least $size-most $size-least;
    margin-top: $padding-triple;
}

nav {
    width:$size-full;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;

    a {
        display: block;
        flex: 1 1 100%;
        text-decoration: none;
    }

    ul {
        text-align: center;
    }
}

svg {
    padding-left: 10px;
}


/* classes */

.circle {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    transition: width 0.5s, height 0.5s, border-radius 0.5s, box-shadow 2s;
    font-size: 2em;
    border-radius: 25px;
    border-style: solid;
    background-color: $primary-font-color;
    border-color: $dark-grey;
    border-width: 3px;
    box-shadow: 0px 0px 50px 0px $secondary-font-color;
    
    &.dark-mode {
        background-color: $secondary-font-color;
        border-color: $light-grey;
        color: $primary-font-color;
        box-shadow: 0px 0px 50px 0px $dark-grey;
    }
}

.dark_mode {
    color: $primary-font-color;
    background-color: $primary-color;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 50px $secondary-font-color;
}

.footer_social {
    width: 80%;

    > ul {
        list-style-type: none;
        text-align: left;
      }
}

.hero {
    &_image {
        height: 75%;
        max-height: 1000px;
        width: 100%;
        z-index: 0;
        object-fit: cover;  
    }
        
    &_text {
        display: block;
        padding: 20px;
        margin-top: -20px;
        color: $primary-font-color;
        background-color: $transparent-secondary-color;
        text-align: center;

        > p {
            margin: 10px;
        }

        > h1 {
            margin: 5px;
        }
    }
}

.nav {
    &_bar {
        display:flex;
    }
      
    &_items {
        list-style-type: none;
        margin: 0;
        padding-left: 0px;
        overflow: hidden;
        width: 100%;
        color: $primary-font-color;
        background-color: $darker-secondary-color;

        &.dark-mode{
            background-color: $darkest-secondary-color;
        }
    }

    &_link_container {
        text-align: center;
    }
      
    &_links{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.page_link {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    background-color: $darker-secondary-color;
    color: white;

    &:hover {
        background-color: $tertiary-color;
        color: $darker-tertiary-color;
        font-weight: bold;
        &.dark-mode {
            background-color: $medium-tertiary-color;
            color: $darker-tertiary-color;
        }
    }

    &.dark-mode {
        background-color: $darkest-secondary-color;
    }
}

.row {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    color: $secondary-font-color;
    background-color: $lighter-primary-color;
    border-radius: 25px;
    box-shadow: 10px 10px 50px $secondary-font-color;

    &.dark-mode{
        color: $primary-font-color;
        background-color: $primary-color;
    }

    > p {
        max-width: 600px;
    }

    &_image {
        &_horizontal {
            display: flex;
            min-width: 150px;
            border-radius: 15px;
            margin-left: auto;
            margin-right: auto;
            max-width: 250px;
        }

        &_vertical {
            display: flex;
            min-width: 150px;
            border-radius: 15px;
            margin-left: auto;
            margin-right: auto;
            max-width: 250px;
        }
    }

    &_button {
        display: inline-block;
        padding: 9px;
        background-color: $secondary-color;
        border-color: $darker-secondary-color;
        border-width: 2px;
        color: $primary-font-color;
        border-radius: 15px;
        border-style: solid;
        text-decoration: none;
        font-size: 0.8em;

        &:hover {
            background-color: $medium-secondary-color;
            font-weight:bold;
        }

        &.dark-mode {
            background-color: $darker-secondary-color;
            border-color: $secondary-color;

            &:hover {
                background-color: $medium-secondary-color;
            }
        }
    }

    &_header {
        font-size: 1.5em;
        color: $darker-primary-color;
        background-color: $lighter-primary-color;

        &.dark-mode{
            color: $primary-font-color;
            background-color: $primary-color;
        }
    }

    > h3 {
        font-size: 1em;
        color: $darker-secondary-color;
        background-color: $lighter-primary-color;
    }
}

.show {
    display:none;
  }
  
.social_container {
    display: block;
    margin-left: 0%;
    width: 18%;
}

/* IDs */

#alt_hero_image {
    background-color: $transparent-tertiary-color;
  }
  
#dropDown {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
    height: 30px;
    width: 60px;
    background-color: $darker-secondary-color;
    color: $primary-font-color;
    border-style: none;
    border-radius: 5px;
    transition: background-color 1s;

    &:focus {
        background-color: $lighter-secondary-color;
        color: $secondary-font-color;
        border-style: solid;
        border-width: 2px;
        border-color: $medium-secondary-color;
        transition: background-color 1s;
      }
}
  
  #hidden_link {
    text-decoration: none;
    color: $primary-font-color;
    background-color: $darker-secondary-color;
}

#home_link {
    position: relative;
    font-weight: 600;
    color: $primary-font-color;
    background-color: $secondary-color;
    flex-grow: 4;
    align-self: auto;

    &:hover {
        background-color: $lighter-secondary-color;
        color: $secondary-font-color;
        font-weight: bolder;

        &.dark-mode {
            background-color: $secondary-color;
            color: $primary-font-color;
        }
    }

    &.dark-mode {
        background-color: $medium-secondary-color;
    }
}