@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* variables */
/* colors */
/* fonts */
/* display */
/* mixins */
/* tags */
a, h1, h2, h3, p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

article {
  grid-column-start: 2;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

body {
  margin: 0px;
  background-color: #A08673;
  color: #000000;
}
body.dark-mode {
  background-color: #1F160E;
  color: #ffffff;
}

footer {
  margin: 0px;
  background-color: #34595e;
  color: #ffffff;
}
footer.dark-mode {
  background-color: #171921 !important;
}
footer > p {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 15px;
  width: 80%;
}

main {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  margin-top: 30px;
}

nav {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}
nav a {
  display: block;
  flex: 1 1 100%;
  text-decoration: none;
}
nav ul {
  text-align: center;
}

svg {
  padding-left: 10px;
}

/* classes */
.circle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
  font-size: 2.25em;
  border-style: solid;
  border-color: #666666;
  border-width: 3px;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0px 0px 50px 0px #000000;
}
.circle.dark-mode {
  border-color: #bbbbbb;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0px 0px 50px 0px #666666;
}

.dark_mode {
  color: #ffffff;
  padding: 20px;
  border-radius: 25px;
  background-color: #A08673;
  box-shadow: 10px 10px 50px 0px #000000;
}

.footer_social {
  width: 80%;
}
.footer_social > ul {
  list-style-type: none;
  text-align: left;
}

.hero_image {
  height: 75%;
  max-height: 1000px;
  width: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero_text {
  display: block;
  padding: 20px;
  margin-top: -20px;
  background-color: rgba(216, 250, 255, 0.7450980392);
  color: #171921;
  text-align: center;
}
.hero_text > p {
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 6px;
  font-weight: 500;
}
.hero_text > h1 {
  margin: 5px;
}
.hero_text > h3 {
  margin-top: 10px;
}

.nav_bar {
  display: flex;
}
.nav_items {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  overflow: hidden;
  width: 100%;
  background-color: #34595e;
  color: #ffffff;
}
.nav_items.dark-mode {
  background-color: #171921;
}
.nav_link_container {
  text-align: center;
}
.nav_link_container > a {
  font-size: 20px;
}
.nav_links {
  padding-top: 10px;
  padding-bottom: 10px;
}

.page_link {
  display: none;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  font-weight: 500;
  background-color: #34595e;
  color: #ffffff;
}
.page_link.dark-mode {
  background-color: #171921;
}

.row {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  color: #000000;
  border-radius: 25px;
  background-color: #F5D2B8;
  box-shadow: 10px 10px 50px 0px #000000;
}
.row.dark-mode {
  background-color: #A08673;
  color: #ffffff;
}
.row > p {
  max-width: 600px;
}
.row_image_horizontal {
  display: flex;
  min-width: 150px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
}
.row_image_vertical {
  display: flex;
  min-width: 150px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
}
.row_button {
  display: inline-block;
  padding: 9px;
  background-color: #91B1B5;
  color: #ffffff;
  border-style: solid;
  border-color: #34595e;
  border-width: 2px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 0.8em;
}
.row_button:hover {
  background-color: #627c80;
  font-weight: bold;
}
.row_button.dark-mode {
  background-color: #34595e;
  border-color: #91B1B5;
}
.row_button.dark-mode:hover {
  background-color: #627c80;
}
.row_header {
  font-size: 1.5em;
  background-color: #F5D2B8;
  color: #1F160E;
}
.row_header.dark-mode {
  background-color: #A08673;
  color: #ffffff;
}
.row > h3 {
  font-size: 1em;
  background-color: #F5D2B8;
  color: #34595e;
}

.show {
  display: none;
}

.social_container {
  display: block;
  margin-left: 0%;
  width: 18%;
}

/* IDs */
#alt_hero_image {
  background-color: rgba(216, 250, 255, 0.7450980392);
}

#dropDown {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 2;
  height: 40px;
  width: 40px;
  background-color: #34595e;
  color: #ffffff;
  border-style: none;
  border-radius: 20px;
  transition: background-color 1s;
}
#dropDown:focus {
  background-color: #B8EEF5;
  color: #000000;
  border-style: solid;
  border-color: #627c80;
  border-width: 2px;
  border-radius: 5px;
  transition: background-color 1s;
}

#hidden_link {
  text-decoration: none;
  background-color: #34595e;
  color: #ffffff;
}

#home_link {
  position: relative;
  font-weight: 600;
  height: 30px;
  background-color: #91B1B5;
  color: #ffffff;
  flex-grow: 4;
  align-self: auto;
}
#home_link:hover {
  background-color: #B8EEF5;
  color: #000000;
  font-weight: bolder;
}
#home_link:hover.dark-mode {
  background-color: #91B1B5;
  color: #ffffff;
}
#home_link.dark-mode {
  background-color: #627c80;
}

@media screen and (min-width: 40em) {
  article {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 10px 1fr 20px;
  }
  footer {
    display: flex;
    max-height: 60px;
  }
  footer > p {
    margin-top: 6px;
    width: 60%;
  }
  nav {
    transition: top 0.3s;
  }
  /*Classes*/
  .circle {
    bottom: 70px;
    right: 30px;
    font-size: 2em;
  }
  .circle:hover {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
    background-color: #bbbbbb;
    color: #000000;
    animation: lightGlow 2s ease-in-out;
    box-shadow: 0px 0px 50px 20px #000000;
  }
  .circle:hover.dark-mode {
    background-color: #666666;
    color: #ffffff;
    border-color: #bbbbbb;
    animation: darkGlow 2s ease-in-out;
    box-shadow: 0px 0px 50px 20px #bbbbbb;
  }
  .footer_social {
    text-align: right;
    width: 40%;
    margin-bottom: 9px;
    padding: 15px;
  }
  .hero {
    overflow: hidden;
    position: relative;
  }
  .hero_text {
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    min-width: 325px;
    width: 60%;
    max-width: 600px;
    border-radius: 25px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 50px #000000;
  }
  .hero_image {
    max-height: 725px;
  }
  .nav_link_container {
    float: left;
    margin-left: 0%;
    width: 20%;
  }
  .nav_link_container > a {
    font-size: 16px;
  }
  .nav_items {
    height: 50px;
  }
  .page_link {
    display: block;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .page_link:hover {
    background-color: #171921;
    color: #B8EEF5;
    font-weight: bold;
  }
  .page_link:hover.dark-mode {
    background-color: #627c80;
    color: #1F160E;
  }
  .row {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .row_image_horizontal {
    width: 100%;
    max-width: 500px;
    width: 100%;
  }
  .row_image_vertical {
    width: 100%;
    max-height: 500px;
  }
  @keyframes lightGlow {
    0% {
      background-color: #ffffff;
      box-shadow: 0px 0px 50px 0px #000000;
    }
    50% {
      background-color: #ffffff;
      box-shadow: 0px 0px 50px 20px #000000;
    }
  }
  @keyframes darkGlow {
    0% {
      background-color: #000000;
      box-shadow: 0px 0px 50px 0px #666666;
    }
    50% {
      background-color: #000000;
      box-shadow: 0px 0px 50px 20px #666666;
    }
  }
  /* IDs*/
  #articleInterests {
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 20px;
  }
  #articleContact {
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 10px 1fr 20px;
  }
  #dropDown {
    display: none;
  }
  #home_link {
    height: 30px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  #card1 {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  #card1_contact {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  #card2 {
    grid-column: 3/3;
    grid-row: 2/2;
  }
  #card2_contact {
    grid-column: 3/3;
    grid-row: 2/2;
  }
  #card3 {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  #card3_contact {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  #card4 {
    grid-column: 3/3;
    grid-row: 4/4;
  }
  #card4_contact {
    grid-column: 3/3;
    grid-row: 4/4;
  }
  #card5 {
    grid-column: 1/1;
    grid-row: 6/6;
  }
  #card1_skills {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  #card2_skills {
    grid-column: 3/3;
    grid-row: 2/2;
  }
  #card3_skills {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  #card4_interests {
    grid-column: 3/3;
    grid-row: 4/4;
  }
  #card5_interests {
    grid-column: 1/1;
    grid-row: 6/6;
  }
  #card6_interests {
    grid-column: 3/3;
    grid-row: 6/6;
  }
  #card7_interests {
    grid-column: 1/1;
    grid-row: 8/8;
  }
  #card8_interests {
    grid-column: 3/3;
    grid-row: 8/8;
  }
  #card9_interests {
    grid-column: 1/1;
    grid-row: 10/10;
  }
  #card10_interests {
    grid-column: 3/3;
    grid-row: 10/10;
  }
}
@media screen and (min-width: 70em) {
  article {
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: none;
  }
  .hero_text {
    top: 35%;
  }
  .row {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  #articleContact {
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 10px 1fr 20px;
  }
  #articleSkills {
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 10px 1fr 20px;
  }
  #articleInterests {
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 10px 1fr 20px 1fr 20px 1fr 20px;
  }
  #card1 {
    grid-column: 1/1;
    grid-row: none;
  }
  #card1_contact {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  #card1_skills {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  #card2 {
    grid-column: 3/3;
    grid-row: none;
  }
  #card2_contact {
    grid-column: 3/3;
    grid-row: 2/2;
  }
  #card2_skills {
    grid-column: 3/3;
    grid-row: 2/2;
  }
  #card3 {
    grid-column: 5/5;
    grid-row: none;
  }
  #card3_contact {
    grid-column: 5/5;
    grid-row: 2/2;
  }
  #card3_skills {
    grid-column: 5/5;
    grid-row: 2/2;
  }
  #card4 {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  #card4_contact {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  #card4_interests {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  #card5 {
    grid-column: 3/3;
    grid-row: 4/4;
  }
  #card5_interests {
    grid-column: 3/3;
    grid-row: 4/4;
  }
  #card6_interests {
    grid-column: 5/5;
    grid-row: 4/4;
  }
  #card7_interests {
    grid-column: 1/1;
    grid-row: 6/6;
  }
  #card8_interests {
    grid-column: 3/3;
    grid-row: 6/6;
  }
  #card9_interests {
    grid-column: 5/5;
    grid-row: 6/6;
  }
  #card10_interests {
    grid-column: 1/1;
    grid-row: 8/8;
  }
}/*# sourceMappingURL=larger.css.map */