@import "base.scss";

@mixin box-style-animated($background: $lighter-primary-color, $shadow: $secondary-font-color, $value: 0px, $value2: 20px) {
  background-color: $background;
  box-shadow: $value $value 50px $value2 $shadow;
}

@media screen and (min-width: 40em) {


    article{
      display: grid;
      grid-template-columns: 1fr 20px 1fr;
      grid-template-rows: 20px 1fr 10px 1fr 20px;
    }
  
    footer{
        display: flex;
        max-height: 60px;

        > p {
            margin-top: 6px;
            width: 60%;
        }
    }
  
    nav{
      transition: top 0.3s;
    }
  
  
      
  /*Classes*/
  
  
    .circle{
      bottom: 70px;
      right: 30px;
      font-size: 2em;

      &:hover {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        transition: width 0.5s, height 0.5s, border-radius 0.5s;
        @include colors($light-grey, $secondary-font-color);
        animation: lightGlow 2s ease-in-out;
        box-shadow: 0px 0px 50px 20px $secondary-font-color;

        &.dark-mode{
          @include colors($dark-grey, $primary-font-color);
            border-color: $light-grey;
            animation: darkGlow 2s ease-in-out;
            box-shadow: 0px 0px 50px 20px $light-grey;
          }
      }
    }
  
    .footer_social{
      text-align: right;
      width: 40%;
      margin-bottom: 20px;
      padding: 15px;
    }

    .glow::before {
      content: "";
      border-radius: 35px;
      position: absolute;
      inset: -10px;
      z-index: 1; 
      top: -100%;
      left: -100%;
      width: 300%;
      height: 300%;
      background: conic-gradient(from 0deg, $lighter-primary-color, $lighter-secondary-color, $lighter-primary-color);
      filter: blur(80px);
      animation: glowRotate 4s infinite linear;
}
  
    .hero {
      overflow: hidden;
      position: relative;
      
      &_text {
        position: absolute;
        top: 20%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        min-width: 325px;
        width: 60%;
        max-width: 600px;
        border-radius: 25px;
        margin-bottom: 40px;
        box-shadow: 10px 10px 50px $secondary-font-color;
      }

      &_image {
        max-height: 725px;
      }
    }
  
    .nav{
      &_link_container {
        float: left;
        margin-left: 0%;
        width: 20%;

        > a {
            font-size: 16px;
        }
      }

      &_items{
        height: 50px;
      }
    }
  
    .page_link {
      display: block;
      height: 30px;
      padding-top: 15px;
      padding-bottom: 5px;

      &:hover {
        @include colors($darkest-secondary-color, $lighter-secondary-color);
        font-weight: bold;
        &.dark-mode {
          @include colors($medium-secondary-color, $darker-primary-color);
        }
      }
    }
  
    .row {
        margin-top: 5px;
        margin-bottom: 0px;

        &_button {
           &:hover {
            background-color: $darkest-secondary-color;
        }
        }

        &_image {

            &_horizontal {
                width: 100%;
                max-width: 500px;
                width: 100%;
            }

            &_vertical {
                width: 100%;
                max-height: 500px;
            }
        }

        &_content {
          border-radius: 15px;
          padding: 20px;
          width: calc(100% - 40px);
          height: calc(100% - 40px);
          background-color: #ffffffBF;
        }
    }

    @keyframes lightGlow {
      0% {
        @include box-style-animated($primary-font-color, $secondary-font-color, 0px, 0px);
      }

      50% {
        @include box-style-animated($primary-font-color, $secondary-font-color, 0px, 20px);
      }
    }

    @keyframes darkGlow {
      0% {
        @include box-style-animated($secondary-font-color, $dark-grey, 0px, 0px);
      }

      50% {
        @include box-style-animated($secondary-font-color, $dark-grey, 0px, 20px);
      }
    }
  
  
  /* IDs*/

    #articleInterests {
      grid-template-columns: 1fr 20px 1fr;
      grid-template-rows: 20px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 20px;
    }

    #articleContact {
      grid-template-columns: 1fr 20px 1fr;
      grid-template-rows: 20px 1fr 10px 1fr 20px;
    }
  
    #dropDown {
      display: none;
    }

    #home_link {
      height: 30px;
      padding-top: 13px;
      padding-bottom: 20px;
    }
  
    #card1{
      grid-column: 1 /1;
      grid-row: 2 /2;
    }

    #card1_contact{
      grid-column: 1 /1;
      grid-row: 2 /2;
    }

    #card2{
      grid-column: 3 /3;
      grid-row: 2 /2;
    }

    #card2_contact{
      grid-column: 3 /3;
      grid-row: 2 /2;
    }

    #card3{
      grid-column: 1 /1;
      grid-row: 4 /4;
    }

    #card3_contact{
      grid-column: 1 /1;
      grid-row: 4 /4;
    }

    #card4{
      grid-column: 3 /3;
      grid-row: 4 /4;
    }

    #card4_contact{
      grid-column: 3 /3;
      grid-row: 4 /4;
    }

    #card5{
      grid-column: 1 /1;
      grid-row: 6 /6;
    }

    #card1_skills{
      grid-column: 1 /1;
      grid-row: 2 /2;
    }

    #card2_skills{
      grid-column: 3 /3;
      grid-row: 2 /2;
    }

    #card3_skills{
      grid-column: 1 /1;
      grid-row: 4 /4;
    }

    #card4_interests{
      grid-column: 3 /3;
      grid-row: 4 /4;
    }

    #card5_interests{
      grid-column: 1 /1;
      grid-row: 6 /6;
    }

    #card6_interests{
      grid-column: 3 /3;
      grid-row: 6 /6;
    }

    #card7_interests{
      grid-column: 1 /1;
      grid-row: 8 /8;
    }

    #card8_interests{
      grid-column: 3 /3;
      grid-row: 8 /8;
    }

    #card9_interests{
      grid-column: 1 /1;
      grid-row: 10 /10;
    }

    #card10_interests{
      grid-column: 3 /3;
      grid-row: 10 /10;
    }
  }
  
  @media screen and (min-width: 70em) {
    article{
      grid-template-columns: 1fr 20px 1fr 20px 1fr;
      grid-template-rows: none;
    }
    
    .hero_text {
      top: 35%;
    }

    .row{
      margin-top: 20px;
      margin-bottom: 40px;
    }

    #articleContact {
      grid-template-columns: 1fr 20px 1fr 20px 1fr;
      grid-template-rows: 20px 1fr 10px 1fr 20px;
    }

    #articleSkills {
      grid-template-columns: 1fr 20px 1fr 20px 1fr;
      grid-template-rows: 20px 1fr 10px 1fr 20px;
    }

    #articleInterests {
      grid-template-columns: 1fr 20px 1fr 20px 1fr;
      grid-template-rows: 20px 1fr 10px 1fr 20px 1fr 20px 1fr 20px;
    }

    #card1{
      grid-column: 1 /1;
      grid-row: none;
    }

    #card1_contact{
      grid-column: 1 /1;
      grid-row: 2 /2;
    }

    #card1_skills{
      grid-column: 1 /1;
      grid-row: 2 /2;
    }

    #card2{
      grid-column: 3 /3;
      grid-row: none;
    }

    #card2_contact{
      grid-column: 3 /3;
      grid-row: 2 /2;
    }

    #card2_skills{
      grid-column: 3 /3;
      grid-row: 2 /2;
    }

    #card3{
      grid-column: 5 /5;
      grid-row: none;
    }

    #card3_contact{
      grid-column: 5 /5;
      grid-row: 2 /2;
    }

    #card3_skills{
      grid-column: 5 /5;
      grid-row: 2 /2;
    }

    #card4{
      grid-column: 1 /1;
      grid-row: 4 /4;
    }

    #card4_contact{
      grid-column: 1 /1;
      grid-row: 4 /4;
    }

    #card4_interests{
      grid-column: 1 /1;
      grid-row: 4 /4;
    }

    #card5{
      grid-column: 3 /3;
      grid-row: 4 /4;
    }

    #card5_interests{
      grid-column: 3 /3;
      grid-row: 4 /4;
    }

    #card6_interests{
      grid-column: 5 /5;
      grid-row: 4 /4;
    }

    #card7_interests{
      grid-column: 1 /1;
      grid-row: 6 /6;
    }

    #card8_interests{
      grid-column: 3 /3;
      grid-row: 6 /6;
    }

    #card9_interests{
      grid-column: 5 /5;
      grid-row: 6 /6;
    }

    #card10_interests{
      grid-column: 1 /1;
      grid-row: 8 /8;
    }
  }