@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* variables */

/*new colors*/

$white: #FAFCFB;
$lightest-color: #CDFAE3;
$transparent-lightest-color: #E4F7DADE;
$lighter-color: #98EDD1;
$light-color: #65D6C3;
$medium-color: #35B5B5;
$dark-color: #167487;
$darker-color: #063F5C;
$transparent-darker-color: #01172EDE;
$darkest-color: #01172E;
$black: #000103;

/* old colors

$lighter-primary-color: #F5D2B8;
$primary-color: #A08673;
$monotone-primary-color: #8b7d72;
$darker-primary-color: #403a30;
$darkest-primary-color: #201D18;
$lighter-secondary-color: #B8EEF5;
$secondary-color: #19828A;
$medium-secondary-color: #91B1B5;
$darker-secondary-color: #34595e;
$darkest-secondary-color: #171921;
$transparent-secondary-color: #d8faffbe;
$transparent-darker-secondary-color: #363e40be;
$primary-font-color:#ffffff;
$secondary-font-color: #000000;
$dark-grey:#666666;
$light-grey: #bbbbbb; */

/* fonts */

$font-hierarchy: Montserrat, Arial, Helvetica, sans-serif;


/* display */

$display-block: block;
$display-grid: grid;
$display-flex: flex;

/* mixins */

@mixin margin($value1: 20px, $value2: 30px) {
    margin-top: 20px;
    margin-bottom: 30px;
}

@mixin margin-auto($auto: auto) {
    margin-left: $auto;
    margin-right: $auto;
}

@mixin border-values($style: none, $color: $medium-color, $width: 2px, $radius: 2px) {
    border-style: $style;
    border-color: $color;
    border-width: $width;
    border-radius: $radius;
}

@mixin colors($background: $white, $text: $black) {
    background-color: $background;
    color: $text;
}

/* tags */

a, h1, h2, h3, p, input, textarea, button {
    font-family: $font-hierarchy;
}

article {
    grid-column-start: 2;
    @include margin-auto;
    height: 100%;
}

body {
    margin: 0px;
    @include colors($white, $darker-color);

    &.dark-mode {
        @include colors($black, $lightest-color);
    }
}

form {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    > button {
        margin-top: 10px;
    }
}

footer {
    margin: 0px;
    @include colors($dark-color, $white);

    &.dark-mode{
        @include colors($darker-color, $lightest-color);
    }

    > p{
        @include margin($value1: 8px, $value2: 0px);
        padding: 15px;
        width: 80%;
        margin-bottom: 0px;
    }   
}

input, textarea {
    padding: 7px;
    border-radius: 10px;
    border: 2px solid $medium-color;
    resize: none;
}

label {
    font-family: 'Crimson Pro', Georgia, 'Times New Roman', serif;
    font-size: 18px;
    height: 20px;
    padding-bottom: 10px;
}

main {
    display: $display-grid;
    grid-template-columns: 5% 1fr 5%;
    margin-top: 30px;
}

nav {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0px 10px 100px 15px $black;

    a {
        display: block;
        flex: 1 1 100%;
        text-decoration: none;
    }

    ul {
        text-align: center;
    }
}

svg {
    padding-left: 10px;
}

textarea {
    height: 100px;
    width: auto;
}


/* classes */

.circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
    font-size: 2.5em;
    box-shadow: 0px 0px 25px 10px $darkest-color;
    @include border-values(solid, $dark-color, 3px, 25px);
    @include colors($lighter-color, $darkest-color);
    z-index: 2;
    
    &.dark-mode {
        border-color: $light-color;
        box-shadow: 0px 0px 25px 10px $lightest-color;
        @include colors($darkest-color, $lighter-color);
    }
}

.dark_mode {
    color: $white;
    padding: 20px;
    border-radius: 25px;
    background-color: $light-color;
}

.formCluster {
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-rows: 20px 1fr;
}

.footer_social {
    width: 80%;
    padding-bottom: 20px;

    > ul {
        list-style-type: none;
        text-align: left;
      }
}

.hero {
    &_image {
        height: 75%;
        max-height: 1000px;
        width: 100%;
        z-index: 0;
        object-fit: cover;  
    }
        
    &_text {
        display: block;
        padding: 20px;
        margin-top: -20px;
        @include colors($transparent-lightest-color, $darkest-color);
        text-align: center;
        border-bottom: 2px solid $darker-color;

        &.dark-mode{
            @include colors($transparent-darker-color, $lightest-color);
        }

        > p {
            margin: 10px;
            margin-bottom: 0px;
            margin-top: 6px;
            font-weight: 500;
        }

        > h1 {
            margin: 5px;
            font-family: 'Crimson Pro', Georgia, 'Times New Roman', serif;
        }

        > h3 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.nav {
    &_bar {
        display:flex;
    }
      
    &_items {
        list-style-type: none;
        margin: 0;
        padding-left: 0px;
        overflow: hidden;
        width: 100%;
        @include colors($darker-color, $light-color);

        &.dark-mode{
            @include colors($darkest-color, $medium-color);
        }
    }

    &_link_container {
        text-align: center;
        > a {
            font-size: 1.15em;
        }
    }
      
    &_links{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.page_link {
    display: none;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-weight: 500;
    @include colors($dark-color, $white);

    &.dark-mode {
         @include colors($darker-color, $lightest-color);
    }
}

.row {
    @include margin;
    padding: 20px;
    color: $black;
    border-radius: 35px;
    border: 2px solid $darker-color;
    position: relative;
    overflow: hidden;
    background-color: $lightest-color;

    &.dark-mode{
        @include colors($darkest-color, $white);
        border-color: $lighter-color;
    }

    > p {
        max-width: 600px;
    }

    &_image {
        margin-left: auto;
        margin-right: auto;

        &_horizontal {
            display: flex;
            min-width: 150px;
            border-radius: 15px;
            @include margin-auto;
            width: 100%;
            max-height: 334px;
            margin-top: auto;
            margin-bottom: auto;
        }

        &_vertical {
            display: flex;
            min-width: 150px;
            border-radius: 15px;
            @include margin-auto;
            max-width: 250px;
            height: 334px;
        }
    }

    &_button {
        display: inline-block;
        padding: 9px;
        @include colors($darker-color, $lighter-color);
        @include border-values (solid, $darker-color, 2px, 15px);
        text-decoration: none;
        font-size: 0.8em;
        font-weight: 600;

        &.dark-mode {
            @include colors($lighter-color, $darkest-color);
            @include border-values (solid, $lighter-color, 2px, 15px);
        }
    }

    &_header {
        font-size: 1.7em;
        font-family:  'Crimson Pro', Georgia, 'Times New Roman', serif;
        color: $darker-color;
        margin-top: 15px;
        margin-bottom: 10px;

        &.dark-mode{
            color: $lightest-color;
        }
    }

    > h3 {
        font-size: 1.5em;
        color: $darker-color;
    }

    h3.row_languages {
        font-size: 1.125em;

        &.dark-mode{
            color: $lighter-color;
        }
    }
}

.show {
    display:none;
  }
  
.social_container {
    display: block;
    margin-left: 0%;
    width: 18%;
}

/* IDs */
  
#dropDown {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
    height: 40px;
    width: 40px;
    @include colors ($lighter-color, $darker-color);
    border-style: none;
    border-radius: 20px;
    transition: background-color 1s;

    &:focus {
        @include colors($light-color, $darkest-color);
        transition: background-color 1s;
      }
}

#fname, #lname, #email, #tel {
    max-width: 50%;
}

#formStatus {
    font-size: 1em;
    border-radius: 15px;
    border: transparent solid 2px;
}

#full_length{
    width: calc(100% - 22px);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
  
#hidden_link {
    text-decoration: none;
    @include colors($darker-color, $white);
}

#home_link {
    position: relative;
    font-family: 'Crimson Pro', Georgia, 'Times New Roman', serif;
    font-size: 1.25em;
    font-weight: 700;
    height: 30px;
    padding-top: 10px;
    @include colors($darker-color, $white);
    flex-grow: 4;
    align-self: auto;

    &:hover {
        @include colors($light-color, $darkest-color);
        font-weight: bolder;

        &.dark-mode {
            @include colors($darker-color, $white);
        }
    }

    &.dark-mode {
        background-color: $darkest-color;
    }
}

#msg {
    max-width: 75%;
}

/*animations*/

@keyframes glowRotate { 
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); }
}