@use "base.scss" as base;

@media screen and (min-width: 40em) {


  article{
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 10px 1fr 20px;
  }
  
  footer{
    display: flex;
    max-height: 60px;

    > p {
      margin-top: 6px;
      width: 60%;
    }
  }
  
  nav{
    transition: top 0.3s;
  }
  
  
      
  /*Classes*/
  
  
  .circle{
    bottom: 70px;
    right: 30px;
    font-size: 2em;

    &:hover {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      transition: width 0.5s, height 0.5s, border-radius 0.5s;
      @include base.colors(base.$medium-color, base.$darkest-color);
      box-shadow: 0px 0px 25px 10px base.$black;

      &.dark-mode{
        @include base.colors(base.$darker-color, base.$lighter-color);
        box-shadow: 0px 0px 25px 10px base.$white;
      }
    }
  }
  
  .footer_social{
    text-align: right;
    width: 40%;
    margin-bottom: 20px;
    padding: 15px;
  }
  
  .hero {
    overflow: hidden;
    position: relative;
      
    &_text {
      position: absolute;
      top: 40%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      min-width: 325px;
      width: 60%;
      max-width: 600px;
      border-radius: 25px;
      margin-bottom: 40px;
      box-shadow: 10px 10px 50px base.$black;
    }

    &_image {
      max-height: 725px;
    }
  }

  .md-grid-{
    &1{
      grid-column: 1 /1;
      grid-row: 2 /2;

      &_contact{
        grid-column: 1 /4;
        grid-row: 2 /2;
      }
    }

    &2{
      grid-column: 3 /3;
      grid-row: 2 /2;

      &_contact{
        grid-column: 1 /1;
        grid-row: 4 /4;
      }
    }

    &3{
      grid-column: 1 /1;
      grid-row: 4 /4;

      &_contact{
        grid-column: 3 /3;
        grid-row: 4 /4;
      }
    }

    &4{
      grid-column: 3 /3;
      grid-row: 4 /4;

      &_contact{
        grid-column: 1 /1;
        grid-row: 6 /6;
      }
    }

    &5{
      grid-column: 1 /1;
      grid-row: 6 /6;
    }

    &6{
      grid-column: 3 /3;
      grid-row: 6 /6;
    }

    &7{
      grid-column: 1 /1;
      grid-row: 8 /8;
    }

    &8{
      grid-column: 3 /3;
      grid-row: 8 /8;
    }

    &9{
      grid-column: 1 /1;
      grid-row: 10 /10;
    }

    &10{
      grid-column: 3 /3;
      grid-row: 10 /10;
    }
  }
  
  .nav{
    &_link_container {
      float: left;
      margin-left: 0%;
      width: 16.6666%;

      > a {
        font-size: 16px;
      }
    }

    &_items{
      height: 50px;
    }
  }
  
  .page_link {
    display: block;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 5px;

    &:hover {
      @include base.colors(base.$light-color, base.$darkest-color);
      font-weight: bold;
      text-decoration: underline;
      text-underline-offset: 5px;

      &.dark-mode {
        @include base.colors(base.$darker-color, base.$white);
      }
    }
  }
  
  .row {
    margin-top: 5px;
    margin-bottom: 0px;

    &_button {
      &:hover {
        background-color: base.$darkest-color;
        border-color: base.$darkest-color;
        color: base.$white;
      }

      &.dark-mode {
        &:hover {
          border-color: base.$lightest-color;
          @include base.colors(base.$white, base.$black);
        }
      }
    }

    &_image {

      &_horizontal {
        width: 100%;
        max-width: 500px;
        width: 100%;
      }

      &_vertical {
        width: 100%;
        max-height: 500px;
        max-width: 225px;
      }
    }
  }
  
  /* IDs*/


  #articleInterests {
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
  }

  #articleContact {
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 20px 1fr 20px;
  }

  #articleProjects {
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  }

  #card6_project, #card5_skills, #card2_contact, #card5_project{
    margin-bottom: 20px;
  }
  
  #dropDown {
    display: none;
  }

  #infinitytrain:hover {
    background-color: #012e05;
    border-color: #012e05;
    box-shadow: 0px 0px 50px 15px #89EC92;
  }

  #home_link {
    height: 30px;
    padding-top: 13px;
    padding-bottom: 20px;
    font-size: 1.03em;
  }
}


@media screen and (min-width: 50em){
  .row_image_vertical{
    max-width: 250px;
  }

  #home_link{
    font-size: 1.25em;
  }
}
  

@media screen and (min-width: 70em) {
  article{
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: none;
  }
    
  .hero_text {
    top: 35%;
  }

  .lg-grid-{
    &1{
      grid-column: 1 /1;
      grid-row: 2 /2;

      &_contact{
        grid-column: 1 /1;
        grid-row: 2 /2;
      }

      &_home{
        grid-column: 1 /1;
        grid-row: none;
      }
    }

    &2{
      grid-column: 3 /3;
      grid-row: 2 /2;

      &_contact{
        grid-column: 3 /3;
        grid-row: 2 /2;
      }

      &_home{
        grid-column: 3 /3;
        grid-row: none;
      }
    }

    &3{
      grid-column: 5 /5;
      grid-row: 2 /2;

      &_contact{
        grid-column: 5 /5;
        grid-row: 2 /2;
      }

      &_home{
        grid-column: 5 /5;
        grid-row: none;
      }
    }

    &4 {
      grid-column: 1 /1;
      grid-row: 4 /4;

      &_contact{
        grid-column: 1 /1;
        grid-row: 4 /4;
      }
    }

    &5{
      grid-column: 3 /3;
      grid-row: 4 /4;
    }

    &6{
      grid-column: 5 /5;
      grid-row: 4 /4;
    }

    &7{
      grid-column: 1 /1;
      grid-row: 6 /6;
    }

    &8{
      grid-column: 3 /3;
      grid-row: 6 /6;
    }

    &9{
      grid-column: 5 /5;
      grid-row: 6 /6;
    }

    &10{
      grid-column: 1 /1;
      grid-row: 8 /8;
    }
  }

  .row{
    margin-top: 10px;
  }

  .row_home{
    margin-bottom: 40px;
  }


  /* ID's */


  #articleContact {
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 10px 1fr 20px;
  }

  #articleSkills {
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 10px 1fr 20px;
  }

  #articleInterests {
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 10px 1fr 20px 1fr 20px 1fr 20px;
  }

  #articleProjects {
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 20px 1fr 20px 1fr 20px 1fr 20px;
  }

  #card6_project, #card5skills, #card2_contact{
    margin-bottom: 0px;
  }

  #infinitytraingradient_card1{
    grid-column: 1 /1;
    grid-row: none;
  }

  #infinitytraingradient_card1:hover::before {
    background: conic-gradient(from 0deg, #89EC92, #bdecc1, #89EC92);
  }

  #infinitytraingradient_card1.dark-mode:hover::before {
    background: conic-gradient(from 0deg, #0c4e12, #169621, #0c4e12);
  }

  #infinitytraingradient_card8{
    grid-column: 3 /3;
    grid-row: 6 /6;
  }

  #infinitytraingradient_card8:hover::before {
    background: conic-gradient(from 0deg, #89EC92, #bdecc1, #89EC92);
  }

  #infinitytraingradient_card8.dark-mode:hover::before {
    background: conic-gradient(from 0deg, #0c4e12, #169621, #0c4e12);
  }
}