<p> Copyright &copy; 2024-<span id="year"></span> Andrew Mulert</p>
<div class="footer_social">
    <a href="https://www.instagram.com/googol.craft/" target="_blank"><svg width="40px" height="40px"><image width="40px" height="40px" href="images/social_instagram.svg"></image></svg></a>
    <a href="https://www.facebook.com/andrewmulert/" target="_blank"><svg width="40px" height="40px"><image width="40px" height="40px" href="images/social_facebook.svg"></image></svg></a>
    <a href="https://www.linkedin.com/in/andrew-mulert-258825257/" target="_blank"><svg width="40px" height="40px"><image width="40px" height="40px" href="images/social_linkedin.svg"></image></svg></a>
    <a href="https://www.google.com/maps/contrib/116356707928032325345/photos/@43.8127099,-111.7895313,16z/data=!3m1!4b1!4m3!8m2!3m1!1e1?entry=ttu&g_ep=EgoyMDI0MTIwOC4wIKXMDSoASAFQAw%3D%3D" target="_blank"><svg width="40px" height="40px"><image width="40px" height="40px" href="images/social_google_maps.svg"></image></svg></a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/main.js"></script>